:root {
    --secondary-color: #1a5396;
    --background-color: #282727;
    --shadow-color: #dcdcdc;
    --accent-color: #59b59b;

    --second-background-color: #181919;

    --text-light-color: #737373;
    --text-white-color: #d3d3d3;
    --table-color: #1a5396;
    --table-background-color: #F5F5F5;

    --sea-background: linear-gradient(90deg, rgb(36 55 101) 10%, #30679f 100%);
    --earth-color: #fff;

    --danger-color: #af2c35;
    --success-color: #2c9f2c;
    --toggle-background: #f0f0f0;
    --toggle-border: #ccc;
    --toggle-active: #fdfdfd;

    --selected-color: #367f32;
    --selected-text-color: #143c11;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.toast {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px var(--shadow-color);
    color: var(--text-light-color);
}

.search-blob {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--secondary-color);
    background-color: var(--second-background-color);
    padding: 6px;
    border-radius: 8px;
    color: var(--secondary-color);
    margin: 10px;
}

.search-blob input {
    border: none !important;
    background: none !important;
    width: 100%;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
    outline: none !important;
    color: var(--text-white-color);
}

.search-blob input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--second-background-color) inset;
    -webkit-text-fill-color: var(--text-white-color);
}

/* shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.search-blob:has(input.not-found) {
    color: var(--danger-color);
    border-color: var(--danger-color);
    animation: shake 0.5s;
}

.search-blob input.not-found {
    color: var(--danger-color);
}

.search-blob:has(input.found) {
    color: var(--success-color);
    border-color: var(--success-color);
}

.search-blob input.found {
    color: var(--success-color);
}

.search-blob span {
    transition: transform 0.2s;
    cursor: pointer;
}

.search-blob span:hover {
    transform: scale(1.1);
}

.loader {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--text-white-color);
    position: absolute;
}

.material-symbols-outlined { user-select: none; }
