:root {
    --secondary-color: #1a5396;
    --background-color: #282727;
    --shadow-color: #dcdcdc;
    --accent-color: #59b59b;

    --second-background-color: #181919;

    --text-light-color: #737373;
    --text-white-color: #d3d3d3;
    --table-color: #1a5396;
    --table-background-color: #F5F5F5;

    --sea-background: linear-gradient(90deg, rgb(36 55 101) 10%, #30679f 100%);
    --earth-color: #131313;
    --secondary-earth-color: #191919;
    --country-border-color: #d0d0d0;
    --secondary-country-border-color: #767676;

    --danger-color: #af2c35;
    --success-color: #2c9f2c;
    --warning-color: #9f8625;
    --toggle-background: #f0f0f0;
    --toggle-border: #ccc;
    --toggle-active: #fdfdfd;

    --selected-color: #367f32;
    --selected-text-color: #143c11;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@keyframes GoIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    color: var(--text-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#pagination {
    display: flex;
    margin: 10px 5%;
    width: 90%;
    column-gap: 4px;
    user-select: none;
}

#pagination span {
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #555;
    color: var(--text-white-color);
    cursor: pointer;
}

#pagination span.selected {
    background-color: var(--selected-color);
    color: var(--selected-text-color);
}

#pagination span.dots_page {
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #333;
    color: #9f9f9f;
    cursor: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 8px solid #333; /* Light gray */
    border-top: 8px solid #f3f3f3; /* Dark gray */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 1rem;
}

.toast {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 4px var(--second-background-color);
    color: var(--text-light-color);
    animation: GoIn 0.5s 1;
    
}

.toast.success {
    border-left: solid 15px var(--success-color);
    color: var(--success-color);
}

.toast.danger {
    border-left: solid 15px var(--danger-color);
    color: var(--danger-color);
}

.toast.info {
    border-left: solid 15px var(--secondary-color);
    color: var(--secondary-color);
}

.toast.error {
    border-left: solid 15px var(--danger-color);
    color: var(--danger-color);
}

.toast.warning {
    border-left: solid 15px var(--warning-color);
    color: var(--warning-color);
}

.search-blob {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px var(--secondary-color);
    background-color: var(--second-background-color);
    padding: 6px;
    border-radius: 8px;
    color: var(--secondary-color);
    margin: 10px;
}

.search-blob input {
    border: none !important;
    background: none !important;
    width: 100%;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
    outline: none !important;
    color: var(--text-white-color);
}

.search-blob input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--second-background-color) inset;
    -webkit-text-fill-color: var(--text-white-color);
}

/* shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.search-blob:has(input.not-found) {
    color: var(--danger-color);
    border-color: var(--danger-color);
    animation: shake 0.5s;
}

.search-blob input.not-found {
    color: var(--danger-color);
}

.search-blob:has(input.found) {
    color: var(--success-color);
    border-color: var(--success-color);
}

.search-blob input.found {
    color: var(--success-color);
}

.search-blob span {
    transition: transform 0.2s;
    cursor: pointer;
}

.search-blob span:hover {
    transform: scale(1.1);
}

.loader {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-background-color);
    border-radius: 6px;
    padding: 20px;
    color: var(--text-white-color);
    position: absolute;
}

.material-symbols-outlined { user-select: none; }
