

body:has(.map) {
    overflow: hidden;
    background: var(--background-color);
}

main:has(.map) {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

menu.right {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

menu.right > * {
    border: solid 2px var(--secondary-color);
    background-color: var(--second-background-color);
    padding: 6px;
    border-radius: 8px;
    color: var(--secondary-color);
    box-shadow: none !important;
}

menu.right > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

menu.right > button a {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: var(--secondary-color) !important;
    text-decoration: none !important;
}

menu.right > button a#matches-button:hover {
    transform: rotateZ(180deg) scale(1.2);
}

menu.right > button a:not(#matches-button):hover {
    transform: scale(1.2);
}

.pop-up span.city {
    width: 10px;
    height: 10px;
    border: solid 3px darkgreen;
    border-radius: 50%;
    display: inline-block;
}

.search-blob {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-blob input {
    border: none !important;
    background: none !important;
    width: 100%;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
    outline: none !important;
    color: var(--text-color);
}

/* shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.search-blob:has(input.not-found) {
    color: var(--danger-color);
    border-color: var(--danger-color);
    animation: shake 0.5s;
}

.search-blob input.not-found {
    color: var(--danger-color);
}

.search-blob:has(input.found) {
    color: var(--success-color);
    border-color: var(--success-color);
}

.search-blob input.found {
    color: var(--success-color);
}

.search-blob span {
    transition: transform 0.2s;
    cursor: pointer;
}

.search-blob span:hover {
    transform: scale(1.1);
}

#cities > *[active="false"] {
    display: none;
}

div.las-palmas::before {
    content: " ";

    position: absolute;
    
    background-color: var(--country-border-color);
    width: 26.5px;
    height: 26.5px;
    
    clip-path: polygon(48% 10%, 92% 30%, 50% 85%, 0% 48%);
    cursor: pointer;
    z-index: -1;
    animation: spawning-extra-land-border 1.9s;
}

/* Villes manuellement posée (hors map) */
div.las-palmas {
    left: 50px;
    bottom: 10px;
    background-color: transparent;
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spawning-extra-land {
    0% {
        background-color: var(--background-color);
    }
    100% {
        background-color: var(--earth-color);
    }
}

@keyframes spawning-extra-land-border {
    0% {
        background-color: var(--background-color);
    }
    100% {
        background-color: var(--country-border-color);
    }
}

div.las-palmas::after {
    content: " ";
    background-color: var(--earth-color);
    clip-path: polygon(48% 10%, 92% 30%, 50% 85%, 0% 48%);
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: -1;
    animation: spawning-extra-land 1.9s;
}

/* glow las palmas */
body[ready]:has( path[data-country-code="ES"].glow ) div.las-palmas::before {
    background-color: var(--secondary-color) !important;
    height: 34px;
    width: 34px;
    margin-bottom: -1px;
    animation: glow-animation-grow 4s infinite;
}

@keyframes glow-animation-grow {
    0% {
        height: 34px;
        width: 34px;
        filter: drop-shadow(0 0 5px var(--secondary-color));
    }
    50% {
        height: 37px;
        width: 37px;
    }
    100% {
        height: 34px;
        width: 34px;
        filter: drop-shadow(0 0 5px var(--secondary-color));
    }
}


body[ready]:has( path[data-country-code="ES"].glow ) div.las-palmas {
    animation: glow-animation 4s infinite;
    filter: drop-shadow(0 0 5px var(--secondary-color));
    
}

/* Villes trouvées */
@keyframes found-city {
    0%, 100% {
        border-width: 1.5px;
        border-color: green;
    }
    50% {
        border-width: 15px;
        border-color: darkgreen;
    }
}

.extra-cities {
    z-index: 100;
    position: absolute;
    left: 0;
    bottom: 0
}

.extra-cities .found span {
    animation: found-city 1s infinite;
}

div.las-palmas span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: solid 1.5px green;
    border-radius: 50%;
    cursor: pointer;
}

.logo-wrapper {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
}

.logo-wrapper > div { 
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--earth-color);
    border: solid 2px var(--secondary-color);
    border-radius: 8px;
    row-gap: 8px;
}

.logo-wrapper > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    height: fit-content;
    max-height: min(calc(100svh - 40px - 22px), calc((150px + 8px) * 5));
}

body[ready] .logo-wrapper > div.active, .logo-wrapper > .logo-city.force-active { display: flex; }

.logo-wrapper > div h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

img.club-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: solid 1px;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px;
}

@keyframes glow-animation {
    0% {
        stroke-width: 2;
        filter: drop-shadow(0 0 5px var(--secondary-color));
    }
    50% {
        stroke-width: 4;
        filter: drop-shadow(0 0 10px var(--secondary-color));
    }
    100% {
        stroke-width: 2;
        filter: drop-shadow(0 0 5px var(--secondary-color)0);
    }
}

body[ready] .glow {
    stroke: var(--secondary-color) !important;
    stroke-width: 2;
    filter: drop-shadow(0 0 5px var(--secondary-color));
    animation: glow-animation 4s infinite;
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid var(--toggle-border);
    border-radius: 8px;
    padding: 6px;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.toggle-button.active {
    background-color: var(--toggle-active);
    color: #fff;
}

.toggle-button > * {
    transition: transform 0.3s;
}

.toggle-button > *:hover {
    transform: scale(1.2);
}

.toggle-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.toggle-button span {
    display: none;
}

.toggle-button.active span {
    display: block;
}

.toggle-button.active img {
    display: none;
}

.toggle-button span {
    margin-left: 8px;
}

@keyframes movre_from_r_to_l {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
    
}

menu {
    animation: movre_from_r_to_l 1s ease-in-out 1;
}

.tuto-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--secondary-color);
    cursor: pointer;
    color: var(--text-white-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 35px;
    height: 35px;
    animation: zoom-spawn 1s ease-in-out 1 forwards;
    animation-delay: 0.5s;
    transform: scale(0);
    transition: background-color 0.3s;
}

.tuto-button:hover {
    background-color: var(--secondary-color-light);
}

@keyframes zoom-spawn {
    0% {
        transform: scale(0);
    }
    65% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
