:root {
    --secondary-color: #392e83;
    --background-color: #fff;
    --shadow-color: #878787;
    --sea-background: linear-gradient(90deg, rgb(36 55 101) 10%, #30679f 100%);
    --earth-color: #fff;

    --danger-color: #af2c35;
    --success-color: #2c9f2c;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body:has(.map) {
    overflow: hidden;
    background: var(--sea-background);
}

main:has(.map) {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

menu.right {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

menu.right > * {
    border: solid 2px var(--secondary-color);
    background-color: var(--background-color);
    padding: 6px;
    border-radius: 8px;
    color: var(--secondary-color);
    box-shadow: 0 3px 3px 0 var(--shadow-color);
}

menu.right > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

menu.right > button span {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

menu.right > button span:hover {
    transform: rotateZ(180deg) scale(1.2);
}

.search-blob {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-blob input {
    border: none !important;
    background: none !important;
    width: 100%;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
    outline: none !important;
}

/* shake animation */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.search-blob:has(input.not-found) {
    color: var(--danger-color);
    border-color: var(--danger-color);
    animation: shake 0.5s;
}

.search-blob input.not-found {
    color: var(--danger-color);
}

.search-blob:has(input.found) {
    color: var(--success-color);
    border-color: var(--success-color);
}

.search-blob input.found {
    color: var(--success-color);
}

.search-blob span {
    transition: transform 0.2s;
    cursor: pointer;
}

.search-blob span:hover {
    transform: scale(1.1);
}

/* Villes manuellement posée (hors map) */
div.las-palmas {
    position: absolute;
    left: 50px;
    bottom: 10px;
    background-color: var(--earth-color);
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(48% 10%, 92% 30%, 50% 85%, 0% 48%);
    cursor: pointer;
}

div.las-palmas span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: solid 1.5px green;
    border-radius: 50%;
}

.logo-wrapper {
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
}

.logo-wrapper > div { 
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    border: solid 2px var(--secondary-color);
    border-radius: 8px;
    row-gap: 8px;
}

.logo-wrapper > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    height: fit-content;
    max-height: min(calc(100svh - 40px - 22px), calc((150px + 8px) * 5));
}

.logo-wrapper > div.active, .logo-wrapper > .logo-city.force-active { display: flex; }

.logo-wrapper > div h3 {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

img.club-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border: solid 1px;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px;
}

.glow {
    stroke: #FFD700; /* Gold color for the glow */
    stroke-width: 3.5;
    filter: drop-shadow(0 0 5px #FFD700);
}